/* Global Styles */

.center-container {
    -fx-alignment: CENTER;
    -fx-padding: 20;
    -fx-max-width: Infinity;
    -fx-max-height: Infinity;
    -fx-pref-width: 1280;
    -fx-pref-height: 720;
}

.title {
    -fx-font-size: 72px;
    -fx-font-weight: bold;
    -fx-fill: black;
}

.subtitle {
    -fx-font-size: 68px;
    -fx-font-weight: bold;
    -fx-fill: white;
}

.placeholder-text {
    -fx-font-size: 16px;
    -fx-fill: black;
}

.btn {
    -fx-min-width: 500;
    -fx-min-height: 100;
    -fx-font-size: 32px;
    -fx-background-color: #FFF8E7;
    -fx-text-fill: black;
    -fx-border-color: #D9A45B;
    -fx-border-width: 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-padding: 10px 50px;
    -fx-cursor: hand;
}

.btn:hover {
    -fx-background-color: #cc5114;
    -fx-border-color: #cc5114;
}

.btn-order {
    -fx-min-width: 180;
    -fx-min-height: 40;
    -fx-font-size: 14px;
}

.btn-manual {
    -fx-min-width: 250;
    -fx-min-height: 60;
    -fx-font-size: 20px;
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-color: #cc5114;
    -fx-border-width: 2px;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-padding: 8px 20px;
    -fx-cursor: hand;
}
.btn-manual:hover {
    -fx-background-color: #cc5114;
    -fx-border-color: #cc5114;
}

.pause-overlay {
    -fx-background-color: rgba(0, 0, 0, 0.4);
    -fx-min-width: 1280;
    -fx-min-height: 800;
    -fx-pref-width: 1280;
    -fx-pref-height: 800;
}

.confirm-overlay {
    -fx-background-color: rgba(0, 0, 0, 0.6);
    -fx-min-width: 1280;
    -fx-min-height: 800;
    -fx-pref-width: 1280;
    -fx-pref-height: 800;
}

.confirm-panel {
    -fx-background-color: #FFF8E7;
    -fx-background-radius: 16px;
    -fx-border-color: #D9A45B;
    -fx-border-width: 2px;
    -fx-border-radius: 16px;
    -fx-padding: 30px 50px;
    -fx-spacing: 20px;
    -fx-alignment: center;
}

.confirm-text {
    -fx-font-size: 48px;
    -fx-fill: black;
}

.confirm-btn {
    -fx-min-width: 500;
    -fx-min-height: 100;
    -fx-font-size: 32px;
    -fx-background-color: #FFF8E7;
    -fx-text-fill: black;
    -fx-border-color: #D9A45B;
    -fx-border-width: 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-padding: 10px 50px;
    -fx-cursor: hand;
}

.confirm-btn:hover {
    -fx-background-color: #cc5114;
    -fx-border-color: #cc5114;
}

