/* Global Styles */

.center-container {
    -fx-alignment: CENTER;
    -fx-padding: 20;
    -fx-max-width: Infinity;
    -fx-max-height: Infinity;
    -fx-pref-width: 1280;
    -fx-pref-height: 720;
}

.title {
    -fx-font-size: 72px;
    -fx-font-weight: bold;
    -fx-fill: black;
}

.subtitle {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-fill: black;
}

.placeholder-text {
    -fx-font-size: 16px;
    -fx-fill: black;
}

.btn {
    -fx-min-width: 500;
    -fx-min-height: 100;
    -fx-font-size: 32px;
    -fx-background-color: #FFF8E7;
    -fx-text-fill: black;
    -fx-border-color: #D9A45B;
    -fx-border-width: 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-padding: 10px 50px;
}

.btn-order {
    -fx-min-width: 180;
    -fx-min-height: 40;
    -fx-font-size: 14px;
}
